<html>
    <head>
        <title>WeatherApp</title>
    </head>
    <body>
        <table>
            <tbody>
{{#averageDailyTemperatures}}
                <tr><td>{{localDate}}</td><td>{{temperature}}</td></tr>
{{/averageDailyTemperatures}}
            </tbody>
        </table>
    </body>
</html>